.background-dpp {
  /* background image opacity */
  background-color: #000405;
  
  background-color: rgba(0, 4, 5, 0.5);
  background-blend-mode: multiply;
  background-size: 200px 200px;
  background-position: center;
  background-repeat: repeat;
}
